{% extends "blog/base.html" %}
{% block title %} Index {% endblock %}

{% block content %}
<div class="col-sm-12 col-sm-offset-2">
    <div>
        <h5>Logged user: {{user}} authorized: {{user.is_staff}}</h5>
    </div>

    <form method="GET" action="">
        <input type="text" name="qry" value="{{ request.GET.qry }}" placeholder="search..."/>
        <input type="submit" value="SEARCH!"/>
    </form>

<div class="row">
    {% for obj in objects %}
    <div class="col-sm-3">
        <div class="thumbnail">
            {% if obj.image %}
            <img src="{{ obj.image.url }}" class="image-responsive" style="max-height:150px">
            {% endif %}
            <div class="caption">
                <h2>
                    <a href="">{{ obj.title }}</a>
                    <small>{{ obj.created_date | timesince }} ago</small>
                </h2>
                <h4><b> {% if obj.author.get_full_name %}
                            {{ obj.author.get_full_name }}
                        {% else %}
                            {{ obj.author }}
                        {% endif %}</b></h4>
                <h3 class="content-markdown">{{ obj.text }}</h3>
                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                    <a href="{% url 'posts:edit' slug=obj.slug %}" class="btn btn-warning" role="button">Edit</a>
                    <a href="{% url 'posts:delete' slug=obj.slug %}" class="btn btn-danger" role="button">Delete</a></p>
            </div>
        </div>
    </div>
    {% cycle '' '<div class="col-sm-12"><hr></div></div><div class="row">' %}
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}{% if request.GET.qry %}&qry={{request.GET.qry}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}{% if request.GET.qry %}&qry={{request.GET.qry}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>




{% endblock %}